@import "reset";
@import "colors";
@import "type";

body {
  background: $yellow;
}

.title {
  color: $orange;
  font-size: 50px;
  border: 7px solid;
  height: 60px;
  padding-top: 10px;
  width: 40%;
  text-align: center;
  margin-left: 25%;
}

.faces {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}

.content {
  float: right;
  box-sizing: border-box;
  border: 5px solid;
  border-color: $orange;
  height: 200px;
  width: 300px;
  background-color: $gold;
  margin-right: 40px;
  font-size: 22px;
}

.content p {
  text-align: center;
}

.content3 {
  float: right;
  box-sizing: border-box;
  border: 5px solid;
  border-color: $orange;
  height: 200px;
  width: 300px;
  background-color: $gold;
  margin-right: 40px;
}

.content3 p {
  font-size: 30px;
  text-align: center;
}

.content2 {
  float: right;
  box-sizing: border-box;
  border: 5px solid;
  border-color: $orange;
  height: 200px;
  width: 600px;
  background-color: $gold;
  margin-right: 40px;
  font-size: 25px;
}

.content2 p {
  text-align: center;
}

.box {
  margin-top: 40px;
}
